// .mvp-main{
//     background-color: black;
// }

/* Mvpblogs.scss */

.mvp-main {
    background-color: black;
    padding: 100px 50px 100px 50px;
    margin-bottom: 30px;
    overflow: hidden;
    align-items: center;
  }

  .mvp-categories {
    width: 100%;
    overflow-x: auto;
    margin-bottom: 20px;
}

.category-scroll {
  display: flex;
  gap:50px;
  padding: 30px;
  // border: 1px solid;
  margin-left: -30px;
  scrollbar-width: none;
}

.category {
  flex: 0 0 auto;
  padding: 8px 12px;
  border-radius: 20px;
  cursor: pointer;
  white-space: nowrap;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 400;
  line-height: 22px;
  font-size: 14px;
  // width: 150px;
}

// .category-link {
//   text-decoration: none;
//   color: #333;
//   transition: background-color 0.3s ease, border-radius 0.3s ease;
// }
.category-link {
  display: block;
  text-decoration: none;
  color: #333;
}

.category:hover {
  background-color: #f1af60;
  border-radius: 20px;
}

.category-scroll::-webkit-scrollbar {
  display: none;
}

  
  .mvp-blog {
    display: flex;
    justify-content: center;
  }
  
  .mvp1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
    width: 700px;
  }
  
  .mvp-image {
    width: 430px; /* Adjust the width as needed */
    height: auto;
    margin-bottom: 10px;
    cursor: pointer;

    &:hover{
        transform: scaley(1.1);
        transition: 1s ease-out;
    }
  }
  
  .mvp-text {
    color: white;
    text-align: center;
    cursor: pointer;
  }

  .mvp-text h2{
    font-weight: 700;
    // border: 1px solid white;
    color: rgb(255,255,255);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    line-height: 28px;
    font-size: 17px;
    width: 470px;
    margin-left: 40px;
    text-align: start;
  }
  
  .mvp-text h3{
    color: rgb(241,175,96);
    font-weight: 500;
    line-height: 22px;
    font-size: 16px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: start;
    margin-left: 40px;
  }


  .mvp-text h5{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 22px;
    color: rgba(255, 255, 255, 0.6);
    margin-left: -260px;
    margin-top: -10px;
  }


  .mvp-text h4{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 500;
    line-height: 22px;
    font-size: 14px;
    color: rgba(255, 255, 255, 0.6);
    text-align: start;
    width: 400px;
    margin-left: 40px;

  }


  .upcoming-blogs{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 700;
    font-size: 36px;
    color: rgb(156,163,175);
    line-height: 40px;
    text-align: center;
  }

  